body {
}

.wrapper {
    /* grid-template-columns: 1fr;
    grid-template-areas:
            "menuBar"
            "header"
            "pdf"
            "foot" */
}


.header {
    grid-area: header;
}

.pdf {
    grid-area: pdf;
}

.references {
    grid-area: ref;
}

.footer {
    grid-area: foot;
}
h1 {
    font-size: 50px;
    font-family: Charcoal, Impact, sans-serif;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Alfa Slab One', Impact, cursive;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

input, textarea {
    outline: none;
    border: 3px solid #FF000B;
}

.information {
    word-wrap: break-word;
    margin: 2.5em;
    font-size: 20px;
}

.container {
    margin-top: 3.5em;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #FF7400;
    
  }
  
a {
    text-decoration-line: none;
    display: inline-block;
}